/* @media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.force-mobile {
  width: 750px;
  max-width: 750px;
  height: 1334px;
  margin: 0 auto;
  border-style: none;
  border-color: inherit;
  border-width: 0px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  display: block;
} */
 /* styles.css or your main stylesheet */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
  max-width: 480px;
  margin: 0 auto; /* Center content */
  box-sizing: border-box;
}
.custom-nav {
  width: 430px;
  height: 210px;
  gap: 0px;
  border-radius: 0px 0px 16px 16px;
  opacity: 0.5; /* Assuming you meant to set some opacity. If you want it fully transparent, use 0 */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  background-color: #f8f9fa; /* Optional: Add a background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
